

<div class="trip-header">
  <h2 class="trip-title">{{trip.name}}</h2>
  <span class="trip-dates">{{trip.startDate | date:"mediumDate"}} - {{trip.endDate | date:"mediumDate"}}</span>
</div>

<form class="request-booking" (ngSubmit)="handleRequestBooking(bookingForm)" #bookingForm="ngForm" novalidate>

  <div class="field">
    <label>How many guests do you want to book for?</label>
    <input type="number" name="guestCount" #myGuestCount=ngModel [(ngModel)]="bookingFormData.guestCount">
      <label>Write a message</label>
    <input type="text" name="message" #myMessage=ngModel [(ngModel)]="bookingFormData.message">
  </div>

  <div class="field">
    <button type="submit">Send Request</button>
  </div>

</form>
