<header>
  <span class="logo">Sailaroo</span>
  <app-auth-user></app-auth-user>
</header>

<div class="tabs-selection">
  <span (click)="setTab(1)">Trips I'm hosting</span>
  <span (click)="setTab(2)">Trips I'm joining</span>
  <span (click)="setTab(3)">Profile</span>
</div>

<div [ngSwitch]="tab" class="container">
  <h3 *ngSwitchCase="1">Trips I'm hosting (list should filter on my hosting trips)</h3>
  <app-trip-list [trips]="trips" *ngSwitchCase="1"></app-trip-list>
  <a class="button" [routerLink]="['/create']" *ngSwitchCase="1">Create Trip</a>

  <h3 *ngSwitchCase="2">Trips I'm joining (list should filter on my attending trips)</h3>
  <app-trip-list [trips]="trips" *ngSwitchCase="2"></app-trip-list>
  <a class="button" [routerLink]="['/home']" *ngSwitchCase="2">Find Trip</a>

  <h3 *ngSwitchCase="3">My Profile where I can update my info</h3>
  <app-user *ngSwitchCase="3">My Profile</app-user>
</div>
