<app-header></app-header>

<h2>Create Trip</h2>

<form class="create-trip" (ngSubmit)="handleCreateTripForm(myForm)" #myForm="ngForm" novalidate>
  <input type="text" name="photo" [(ngModel)]="formData.fileName" id="secret-input"/>

  <div class="field">
    <label>Start Date</label>
    <input type="date" name="startDate" #myStartDate=ngModel [(ngModel)]="formData.startDate">
  </div>
  <div class="field">
    <label>End Date</label>
    <input type="date" name="endDate" #myEndDate=ngModel [(ngModel)]="formData.endDate">
  </div>
  <div class="field">
    <label>Start Location</label>
    <input type="text" name="startLocation" #myStartLocation=ngModel [(ngModel)]="formData.startLocation">
  </div>
  <div class="field">
    <label>End Location</label>
    <input type="text" name="endLocation" #myEndLocation=ngModel [(ngModel)]="formData.endLocation">
  </div>
  <div class="field">
    <label>Boat Name</label>
    <input type="text" name="boat" #myBoat=ngModel [(ngModel)]="formData.boat">
  </div>
  <div class="field">
    <label>Trip Name</label>
    <input type="text" name="name" #myName=ngModel [(ngModel)]="formData.name">
  </div>
  <div class="field">
    <label>Description</label>
    <input type="text" name="description" #myDescription=ngModel [(ngModel)]="formData.description">
  </div>
  <div class="field">
    <label>Price</label>
    <input type="text" name="price" #myPrice=ngModel [(ngModel)]="formData.price">
  </div>
  <div class="field">
    <label>Available Spots</label>
    <input type="number" name="availableSpots" #myAvailableSpots=ngModel [(ngModel)]="formData.availableSpots">
  </div>

  <div class="field" [ngClass]="{'has-error': uploadRequired}">
    <label>Upload Photos</label>
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
    <p class="feedback" *ngIf="uploadRequired">Please select a file</p>
  </div>

  <div class="field">
    <button type="submit">Submit</button>
  </div>
</form>
