<div *ngIf="!user">...</div>

<div *ngIf="user">
  <app-auth-logout></app-auth-logout>
  <div class="user-page">
    <div *ngIf="update">
      <form class="update-user" (ngSubmit)="handleUpdateUserForm(myForm)" #myUserForm="ngForm" novalidate [ngClass]="{saving: saving}">

        <div class="field" [ngClass]="{'has-error': uploadRequired}">
          <label>Upload Photo</label>
          <input type="file" name="file" ng2FileSelect [uploader]="uploader" [disabled]="saving" />
          <p class="feedback" *ngIf="uploadRequired">Please select a file</p>
        </div>

        <div class="field">
          <label>Update Name</label>
          <input type="text" name="name" #myUserName=ngModel [(ngModel)]="editUser.name" [disabled]="saving" />
        </div>

        <div class="field">
          <label>Update Bio</label>
          <input type="text" name="bio" #myBio=ngModel [(ngModel)]="editUser.bio" [disabled]="saving" />
        </div>

        <div class="field">
          <label>Update Phone Number</label>
          <input type="text" name="phoneNumber" #myphoneNumber=ngModel [(ngModel)]="editUser.phoneNumber" [disabled]="saving" />
        </div>

        <div class="field">
          <button type="submit" [disabled]="saving">Submit</button>
          <button type="cancel" (click)="cancel()" [disabled]="saving">Cancel</button>
        </div>
      </form>
    </div>

    <div *ngIf="!update">
      <h3>user details here</h3>
      <p>{{user.name}}</p>
      <p>{{user.bio}}</p>
      <p>{{user.email}}</p>
      <p>+{{user.phoneNumber}}</p>
      <img [src]="apiUrl + user.photo">
      <a href="https://api.whatsapp.com/send?phone={{user.phoneNumber}}&text=I%20want%20to%20sail%20with%20you">send msg to {{user.name}} </a>

      <button (click)="toggleForm()">update profile</button>
    </div>
  </div>
</div>
