@import '../../../variables';

.title {
  color: $dark;
  font-size: 14px;
  text-decoration: none;
}

.title:hover {
  color: $dark;
  text-decoration: underline;
}

.user-photo {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: $gray;
}
