$primary: #34A3DA;
$gray: #a3a3a3;
$white: #FFF;
$dark: #333;

$normal: 400;
$medium: 500;
$bold: 600;

.title {
  color: $dark;
  font-size: 14px;
}

.user-photo {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: $gray;
}
