<app-header></app-header>

<div *ngIf="trip">
  <div *ngIf="trip.bookings.length" class="header-somthing">you got bookings!</div>
  <div *ngFor="let booking of trip.bookings">
    {{booking.message}}
    {{booking.userId.name}}
    <div class="pending-actions" *ngIf="booking.status === 'pending'">
      <button  (click)="confirm(booking)" [disabled]="booking.processing">
        <span class="label">confirm</span>
        <span class="processing"*ngIf="booking.confirming">some gif</span>
      </button>
      <button (click)="reject(booking)" [disabled]="booking.processing">
        <span class="label">reject</span>
        <span class="processing"*ngIf="booking.rejecting">some gif</span>
      </button>
    </div>
    <div *ngIf="booking.status !== 'pending'">
      Yeah {{booking.status}}!
    </div>
  </div>

</div>

<app-single-trip [tripId]="tripId"></app-single-trip>
<!--app-single-trip-bookings [tripId]="tripId"></app-single-trip-bookings-->

<div class="trip-facts">
  <a class="button" [routerLink]="['/manage-trip', tripId]">Manage trip</a>
</div>
