<app-header></app-header>
<app-user-nav></app-user-nav>


<div *ngIf="trip" class="booking-bar">

  <div *ngIf="!trip.bookings.length" class="title">No bookings yet</div>
  <div *ngIf="trip.bookings.length" class="title">You've got bookings for this trip!</div>
  <div *ngFor="let booking of trip.bookings" class="booking-item">

    <span class="name"><a [routerLink]="['/user', booking.userId._id]">{{booking.userId.name}}</a> - <em>({{booking.guestcount}} guests)</em></span>
    <span class="label">message</span>
    <span class="message">{{booking.message}} - {{booking.status}}</span>

    <div class="pending-actions" *ngIf="booking.status === 'pending'">
      <button class="confirm" (click)="handle(booking, 'confirmed')" [disabled]="booking.processing">
        <span>confirm</span>
        <span class="processing"*ngIf="booking.confirming">...</span>
      </button>
      <button class="reject" (click)="handle(booking, 'rejected')" [disabled]="booking.processing">
        <span>reject</span>
        <span class="processing"*ngIf="booking.rejecting">...</span>
      </button>
    </div>
    <div *ngIf="booking.status !== 'pending'">
      <span>The booking is {{booking.status}}!</span>
    </div>
  </div>
</div>


<app-single-trip [trip]="trip"></app-single-trip>
