$primary: #34A3DA;
$gray: #a3a3a3;
$white: #FFF;
$dark: #333;

$normal: 400;
$medium: 500;
$bold: 600;


.list {
  min-height: 460px;
  max-height: 460px;
  width: 100%;
  outline: none;
  margin: 0 20px;
}

.card {
  outline: none;
  cursor: pointer;
  height: 500px;
}

.card a {
  text-decoration: none;
}

.item {
  width: 270px;
  height: 380px;
  border-radius: 16px;
  box-shadow: 0 5px 15px 0 rgba(33,45,64,0.15);
  margin: 0 auto;
  outline: none;
}

.item-header-photo {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  min-height: 290px;
  background-color: $gray;
  background-size: cover;
  background-position: center center;
}

.item h2 {
  font-size: 18px;
  font-weight: $bold;
  color: $dark;
  font-weight: 600;
  text-align: center;
  margin: 24px 0 0 0;
}

.dates {
  color: $gray;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

.item-footer {
  display: block;
  max-width: 212px;
  margin: 0 auto;
  margin-top: 24px;
}

.description {
  font-size: 18px;
  text-align: center;
  color: $gray;
  font-weight: 300;
}

.price {
  color: $primary;
  font-weight: $bold;
  text-decoration: underline;
  text-align: center;
  margin-top: 12px;
}
