.trip-list {
  margin: 20px;
  list-style: none;

  li {
    margin-top: 10px;
    background-color: #92a8d1;
    padding: 10px;
    width: 250px;
  }

  a, a:active {
    text-decoration: none;
    color: black;
  }

}
