<div [ngSwitch]="type">




<div class="list">

  <div class="card" *ngFor="let trip of trips">

    <div class="item">
      <a [routerLink]="['/', type, trip.id]">
        <header class="item-header-photo" [ngStyle]="{'background-image': 'url(' + apiUrl+trip.photos + ')'}"></header>
      </a>
      <article>
        <h2>{{trip.startLocation}} - {{trip.endLocation}}</h2>
        <span class="dates">{{trip.startDate | date:"mediumDate"}} - {{trip.endDate | date:"mediumDate"}}</span>
      </article>
    </div>
    <div class="item-footer">
      <div class="description">{{trip.name}}</div>
      <div class="price">{{trip.price}} €</div>
      <div *ngSwitchCase="'host'">
        <button (click)="handleConfirm()">confirm</button>
        <button>reject</button>
      </div>
      <div *ngSwitchCase="'attending'">
        <p>status (confirmed, rejected or pending)</p>
      </div>
    </div>


  </div>

  <div *ngIf="!trips.length">
    <div *ngSwitchCase="'all'">
      <h3>No Matches</h3>
    </div>
    <div *ngSwitchCase="'host'">
      <h3>You haven't created any trips yet</h3>
    </div>
    <div *ngSwitchCase="'attending'">
      <img src="../../../assets/images/compass.png" width="251">
      <h3>You have not booked any trips</h3>
    </div>
  </div>

</div>


</div>
