body {
  margin:0px;
  padding: 0px;
  font-family: "Graphik", sans-serif;
  -webkit-font-smoothing: antialiased;
}

*{
  box-sizing: border-box;
}

@font-face {
    font-family: Graphik;
    font-weight: 400;
    src: url("assets/font/Graphik-Regular.otf") format("opentype");
}

@font-face {
    font-family: Graphik;
    font-weight: 500;
    src: url("assets/font/Graphik-Medium.otf") format("opentype");
}

@font-face {
    font-family: Graphik;
    font-weight: 600;
    src: url("assets/font/Graphik-Semibold.otf") format("opentype");
}
