
<header>
  <a [routerLink]="['/']">Back</a> <!-- Back return to previous route -->
  <app-auth-user></app-auth-user>
</header>

<div class="trip" *ngIf="!trip">
  ...
</div>

<div class="trip" *ngIf="trip">
  <h2>{{trip.name}}</h2>
  <img src="{{apiUrl+trip.photos}}" alt="">
  <p>Sail with {{trip.host?.name}}</p>
  <p>{{trip.boat}}</p>
  <p>FROM: {{trip.startLocation}} on {{trip.startDate | date:"mediumDate"}}</p>
  <p>TO: {{trip.endLocation}} on {{trip.endDate | date:"mediumDate"}}</p>
  <p>{{trip.tripLength}}</p>
  <p>{{trip.description}}</p>
  <p>{{trip.price}} €</p>
</div>


<!-- <a [routerLink]="['/request']">Request Booking</a> -->
<app-request-booking [tripId]="tripId"></app-request-booking>
