
<header>
  <a [routerLink]="['/']">Back</a> <!-- Back return to previous route -->
  <app-auth-user></app-auth-user>
</header>

<div class="trip" *ngIf="!trip">
  ...
</div>

<div class="trip" *ngIf="trip">

  <img src="{{apiUrl+trip.photos}}" alt="">
  <p>Sail with {{trip.host?.name}}</p>
  <p>FROM: {{trip.startLocation}} on {{trip.startDate | date:"mediumDate"}}</p>
  <p>TO: {{trip.endLocation}} on {{trip.endDate | date:"mediumDate"}}</p>
  <p>{{trip.description}}</p>
  <p>{{trip.price}} €</p>
  <p>tripname: {{trip.name}}</p>
  <p>boatname: {{trip.boat}}</p>
{{trip | json}}


</div>


<app-request-booking [tripId]="tripId"></app-request-booking>
